.main-con {
    text-align:left; 
}

.main-con img {
    width: 100%; 
    height: auto; 
    margin: 0 auto; 
    display: block; 
    padding-top: 10px;
}


.content h1 {
    position: relative;
    bottom: 250px;
    margin-left: 150px;
    margin-right:150px;
    font-size: 40PX;
    color: gold;
    font-weight: bold;
    z-index: 4;
    text-shadow: 4px 4px 4px black;
    text-align: center;
    display: flex;
    
}

.content h2 {
    color: black;
    margin-left: 25%;
    position: relative;
    margin-left: 150px;
    margin-right:150px;
    bottom: 75px;
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    display: flex;
    border-bottom: 1px solid #ddd;
}

.content p{
    color:black;
    margin-left: 35%;
    font-size: 20px;
    width: 50%;
    margin-bottom: 125px;
    display: flex;
    margin: auto;
    
}

.content img {
    width: 1000px;
    height: 400px;
    padding-left: 50vh;
    margin-left: 80px;
}

.content .sec-con {
    font-size: 20px;
    top: 20px;
}
