.table-container {
  max-width: 100%; 
  padding: 10px;
  overflow-x: auto;
}

.scrollable-table {
  width: auto;
  border-collapse: collapse;
  table-layout: fixed; 
}

.scrollable-table th, .scrollable-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.scrollable-table th {
  background-color: #f4f4f4;
  position: sticky; 
  top: 0; 
  z-index: 1; 
}

.table-body {
  display:block;
  max-height: 600px; 
  width: 1100px;
  overflow-y: auto;
  border:  1px solid #ddd ;
}

.scrollable-table td, .scrollable-table th {
  width: 200px; 
}

.scrollable-table td {
  word-wrap: break-word;
}
.scrollable-table tr:hover{
  background-color: #ddd;
}
.health-bar-container {
  width: 100%;
  background-color: #f3f3f3;
  border-radius: 5px;
  overflow: hidden;
}

.health-bar {
  height: 20px;
  color: black;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  border-radius: 5px;
  transition: width 0.5s ease;
  border: 1px solid black;
}